<main>
  <div class="container">
    <div class="row">
      <div class="offset-1 mx-auto my-5">
        <h1 class="red-border px-3">本当に退会しますか？</h1>
      </div>
    </div>
    <div class="row my-5">
      <div class="offset-2 mx-auto">
        <p>退会すると、会員登録情報やこれまでの投稿が閲覧できなくなります。</p>
        <p style="text-align:center">退会する場合は、「退会する」をクリックしてください</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-3 col-2 mb-5">
        <!--会員情報編集画面へ飛ぶ-->
        <%= link_to "退会しない" ,edit_user_path(current_user), class: "btn btn-outline-danger" %>
      </div>
      <div class="offset-3 col-2 mb-5">
        <!-- 会員ステータスを無効に切り替えるoutアクションを呼ぶ-->
        <%= link_to "退会する" , out_path,method: :patch, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</main>